<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>bg_menu_setting</string>
		<key>title</key>
		<string>设置</string>
		<key>subTitle</key>
		<string></string>
		<key>className</key>
		<string>SettingViewController</string>
		<key>param</key>
		<dict>
			<key>itemInfos</key>
			<array>
				<dict>
					<key>title</key>
					<string>头像设置</string>
					<key>className</key>
					<string>头像设置</string>
				</dict>
				<dict>
					<key>title</key>
					<string>修改密码</string>
					<key>className</key>
					<string>ModifyPasswordViewController</string>
					<key>params</key>
					<dict/>
				</dict>
				<dict>
					<key>title</key>
					<string>认证账号设置</string>
					<key>className</key>
					<string>AccountBindViewController</string>
					<key>params</key>
					<dict>
						<key>title</key>
						<string>认证账号设置</string>
						<key>appId</key>
						<string>JXWWNOP-4A</string>
					</dict>
				</dict>
				<dict>
					<key>title</key>
					<string>消息设置</string>
					<key>className</key>
					<string>DetailSettingViewController</string>
					<key>params</key>
					<dict>
						<key>settingConfigs</key>
						<array>
							<dict>
								<key>key</key>
								<string>ring</string>
								<key>title</key>
								<string>铃声</string>
								<key>icon</key>
								<string>ring</string>
							</dict>
							<dict>
								<key>key</key>
								<string>wake</string>
								<key>title</key>
								<string>震动</string>
								<key>icon</key>
								<string>wake</string>
							</dict>
						</array>
					</dict>
				</dict>
				<dict>
					<key>title</key>
					<string>绑定账号设置</string>
					<key>className</key>
					<string>SettingViewController</string>
					<key>params</key>
					<dict>
						<key>title</key>
						<string>绑定账号设置</string>
						<key>itemInfos</key>
						<array>
							<dict>
								<key>title</key>
								<string>综资账号绑定</string>
								<key>className</key>
								<string>AccountBindViewController</string>
								<key>params</key>
								<dict>
									<key>title</key>
									<string>综资账号绑定</string>
									<key>appId</key>
									<string>JXWWNOP-ZZ</string>
								</dict>
							</dict>
							<dict>
								<key>title</key>
								<string>网优账号绑定</string>
								<key>className</key>
								<string>AccountBindViewController</string>
								<key>params</key>
								<dict>
									<key>appId</key>
									<string>wangyou</string>
									<key>title</key>
									<string>网优账号绑定</string>
								</dict>
							</dict>
							<dict>
								<key>title</key>
								<string>代维账号绑定</string>
								<key>className</key>
								<string>AccountBindViewController</string>
								<key>params</key>
								<dict>
									<key>appId</key>
									<string>daiwei</string>
									<key>title</key>
									<string>代维账号绑定</string>
								</dict>
							</dict>
							<dict>
								<key>title</key>
								<string>FTTH自动激活系统</string>
								<key>className</key>
								<string>AccountBindViewController</string>
								<key>params</key>
								<dict>
									<key>appId</key>
									<string>JXWWNOP-GCJH</string>
									<key>title</key>
									<string>FTTH自动激活系统</string>
								</dict>
							</dict>
							<dict>
								<key>title</key>
								<string>电子运维账号绑定</string>
								<key>className</key>
								<string>AccountBindViewController</string>
								<key>params</key>
								<dict>
									<key>title</key>
									<string>电子运维账号绑定</string>
									<key>appId</key>
									<string>LoginEMOS</string>
								</dict>
							</dict>
							<dict>
								<key>title</key>
								<string>家客服务保障账号绑定</string>
								<key>className</key>
								<string>AccountBindViewController</string>
								<key>params</key>
								<dict>
									<key>title</key>
									<string>家客服务保障账号绑定</string>
									<key>appId</key>
									<string>jiangximobilefamily</string>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>icon</key>
		<string>bg_menu_update</string>
		<key>title</key>
		<string>更新</string>
		<key>subTitle</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bg_menu_share</string>
		<key>title</key>
		<string>分享</string>
		<key>subTitle</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bg_menu_contactway</string>
		<key>title</key>
		<string>联系我们</string>
		<key>subTitle</key>
		<string></string>
		<key>className</key>
		<string>JXContactUSTabBarController</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bg_menu_account</string>
		<key>title</key>
		<string>注销</string>
		<key>subTitle</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bg_menu_exits</string>
		<key>title</key>
		<string>退出</string>
		<key>subTitle</key>
		<string></string>
		<key>className</key>
		<string></string>
	</dict>
</array>
</plist>
